

<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Build Your Online Business With Mobile Application, Websites
    & Digital Marketing efficiently and effectively">  

    
    <link rel="stylesheet" href="css/style.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Appformers | Boost Your Business Online</title>
</head>
<body>
   
    <header class="col-md-12 col-md-offset" >
      <div class="image" >
          {{>navbar}}
	     <p class="header"> WAITING... will do <font color="olive">NOTHING</font>  for you </p>
         <p class= "header1"> GO DIGITAL. </p>
       </div>
       
       
       
       
   </header> 
  
  
    {{!--about us--}}
    {{>about}}

    <p class="header3">About Us</p>
         <p class= "header4">We are a early-stage SaaS company which specializes in Digital Marketing,
             Mobile Application and Website development.
     Our moto is to transform your ideas into applications.
      Our company is a place of ideas and possibilities. 
      A place where design and architecture culminate to create new and exciting possibilities for our clients and the communities.
      We provide the highest quality of custom applications for any business environment.
       We make sure all of our developers are up to date in their 
     specific areas to provide our customers with best possible products.</p>
     
    {{!--our services--}}
    {{>services}}

    {{!--products--}}
    {{>products}}

    {{!--google map, contact us, footer--}}
    {{>maps}}
    {{!--footer--}}
    {{!>footer}}
    
</body>

