

 



 <div class="contactus">
            <div class="" id="contactid">
                <div class="contactus5">
                    <h2>Contact Us</h2>
                    
                </div>
              
                <div class="">
                   

                 <div class="contactus2">
                        <div id="success"></div>
                        <form action="/contact" method="POST" name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="">
                                <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" name="name" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="">
                                <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" name="email"/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="">
                                <input type="number" class="form-control" id="phone" placeholder="phone" required="required" data-validation-required-message="Please enter a phone no." name="phone" />
                                <p class="help-block number-danger"></p>
                            </div>
                            <div class="">
                                <input class="form-control2" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message" name="message" ></input>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div>
                                <button class="contactus4"  type="submit" id="sendMessageButton">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {{!--footer--}}

    
 
        <!-- JavaScript Libraries -->
     
        
        <!-- Contact Javascript File -->
    
        <!-- Template Javascript -->
    