  <div class="row2">
    <p class= "product"> Our Products </p>
    <div class="column2">
      
      <img   src="images/schonsolor10.png " alt="Snow" style="width:100%">
    </div>
    <div class="column2">
      <img src="images/gababakers10.png" alt="Forest" style="width:100%">
    </div>
    <div class="column2">
      <img src="images/RPIIT10.png" alt="Mountains" style="width:100%">
    </div>
  </div>

        