  <div class="row">
    <p class= "service"> Our Services </p>
    <div class="column">
      <img src="images/appstyle.png" alt="Snow" style="width:100%">
    </div>
    <div class="column">
      <img src="images/wbsitestyle.png" alt="Forest" style="width:100%">
    </div>
    <div class="column">
      <img src="images/marketingstyle.png" alt="Mountains" style="width:100%">
    </div>
    <div class="column">
        <img src="images/uxxistyle.png" alt="Mountains" style="width:100%">
      </div>
  </div>